body {
    background: rgba(173,216,230,1.0);
}

.container {
    background: rgba(255,255,255,1.0);
    width: 70%;
}

#intro {
    background: rgba(255,0,0,1.0);
    border: 5px solid rgba(0,128,0,1.0);
}

.git-desc {
    background: rgba(0,128,0,1.0);
    border: 5px solid rgba(255,255,0,1.0);
    width: 50%;
}

.git-desc .git-list {
    background: rgba(0,0,255,1.0);
}

.container p {
    color: rgba(0,0,255,1.0);
    font-size: 1.2em;
}

li:nth-child(even) {
    color: rgba(255,192,203,1.0);
}

h2:hover {
    font-size:2em;
}